[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cirq = "*"
amazon-braket-sdk = "*"
qiskit = "*"
jupyter = "*"
pyquil = "*"
pylatexenc = "*"

[dev-packages]

[requires]
python_version = "3.10"
